.repo-link {
  text-decoration: none;
  color: inherit;
}

.website {
  position: relative;
}

.website-link {
  color: #2272ce;
  text-decoration: none;
  transition: all 0.3s;
}

.website-link:hover {
  color: #ff0000;
  transform: scale(1.05);
}

.stars {
  margin-top: 0.5rem;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.topic-bubble {
  background-color: #0366d6;
  border-radius: 16px;
  color: #fff;
  font-size: 0.8rem;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.topic-bubble:hover {
  background-color: #024ea1;
}
